Q1.    
 (*) =  expression  
 ("hello") = value  
 (-87.8) = value  
 (/) = expression   
 (+) = expression  
 (6 )= value

Q2.  
1.string is an type of data which holds characters enclosed in single, double or triple quotes  wheras variable is an entity which stores an value of a given data type

2.for eg: "ram123" is an string type of data &
a= "ram123" , a is variable which hold this string type of data in memory similarly it can hold any data say integer ,float,boolean,list,tuple,.... etc 

3.string can contain and startwith any character wheras a variable name cannot contain special character and varible name cannot start with an integer

Q3.  
1.int data type 
it contains integer type of data  ranging from negative integer to positive including zero without decimal eg : 132,0,-23

2.float data type  
it also contains integer type of data ranging from negative integer to positive with decimal
eg : -2.5, 345.8

3.boolean data type 
it contains either true or false 
eg: 2 > 5 
it will return false 

apart from them there are various other data type like string, complex data type, none data type, list,tuple,set, dictionary etc...

Q4 .  
1.An expression is basically something which can perform some kind of operation using operators
An operation can be mathematical computation operation, logical operation ,string concatenation, iteration using loop ,  any kind of operation it can be & finally interpret result 
operator can be used like arithmetic operator ,comparison operator ,etc..

2.eg:
a= 10 +50 -30

Q5.  
spam =10 is not performing any kind of mathematical operation it is just assigning value 10 to spam variable hence it is an statement not an exxpression
for eg: a=10  
        b=30  
these are statements  
&  
c=a+b  
this is an expression which is interpretting result at the end of operation

In [14]:
#Q6.
bacon =22
bacon +1

23

In [21]:
#Q7.
a= "spam" + "spamspam"
b= "spam" *2
a ,b

('spamspamspam', 'spamspam')

Q8.  
a variable name can start with any charcter except integer and can not contain special character 
hence egg is valid and 100 is invalid variable name

Q10.  
"i have eaten' + 99 + "burritos"
we cannot concatenate a string with a integer . to fix this we have to typecast 99 in to string

Q9.  
we can use int(), float(), str() to get their version of a value