In [8]:
#Q1.
guess_me=int(input())
if guess_me > 7:
    print(" too high")
elif guess_me < 7:
    print(" too low ")
else :
    print("just right")

5
 too low

In [9]:
#Q2.
guess_me=7
start=1
i = True
while i:
    if start < guess_me:
        print("too low")
        i=False
    if start ==guess_me:
        print("found it")
        i=False
    if start > guess_me:
        print("oops")
        i=False

too low

In [10]:
#Q3.
a=[3,2,1,0]
for i in a :
    print(i)

3
2
1
0

In [11]:
#Q4.
[i for i in range(10) if i%2!= 0 ]

[1, 3, 5, 7, 9]

In [12]:
#Q5
{i:i**2  for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [13]:
#Q6.
set (i for i in range(10) if i%2==0)

{0, 2, 4, 6, 8}

In [54]:
#Q7.
a=(f"got-{i}"for i in range(10))
for i in a:
    print(i)

got-0
got-1
got-2
got-3
got-4
got-5
got-6
got-7
got-8
got-9

In [15]:
#Q8.
def good():
    l=["harry","ron","hermoine"]
    return l
good()

['harry', 'ron', 'hermoine']

In [43]:
#Q9.
def get_odds():
    for i in range(10):
        if i%2 ==0 :
            yield i
list(get_odds())[2]

4

In [42]:
#Q10.
class OopsException(Exception):
    pass
def exception(a):
        if a==1:
            raise OopsException()

try :
    exception(1)
except Exception as e:
    print("caught an oops")

caught an oops

In [32]:
#Q11.
titles=["creature of habit","crewel fate"] 
plots = ["a nun turns to monster","a haunted yarn shop"]
a=list(zip(titles,plots))
movies={}
for i in a:
    movies[i[0]]=i[1]
movies

{'creature of habit': 'a nun turns to monster',
 'crewel fate': 'a haunted yarn shop'}