Q1.  
[] is an empty list

In [10]:
#Q2. 
spam = [2,4,6,8]
#we can replace third value by using indexing option
spam[2]= "hello"
print(spam)
#we can add value at third position using insert option
spam.insert(2,"hello")
print(spam)

[2, 4, 'hello', 8]
[2, 4, 'hello', 'hello', 8]

In [16]:
#Q3.  
#string multiplication operation will be preformed and output will typecasted in to integer 
spam= ["a","b","c","d"]
spam[int(int('3'*2)/11)]

'd'

In [19]:
#Q4.
#it will perform indexing operation from end to start or R.H.S to L.H.S
spam[-1]

'd'

In [21]:
#Q5.
#[inclusive : exclusive] during slicing operation 
#[::] if nothing mentioned in inclusive part then it will take min index i.e 0 and in exclusive part it will take length of list
#[:2] it will slice from 0  to 1 index position excluding 2nd position
spam[:2]

['a', 'b']

In [23]:
#Q6.
bacon=[3.14,"cat",11,"cat", True]
# index function return the index value of a given data or value in list
bacon.index("cat")

1

In [25]:
#Q7.
#append function adds value at the end of the list
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99, 99]

In [26]:
#Q8.
#remove function remove the value from the list in first occurence 
bacon.remove("cat")

In [27]:
print(bacon)

[3.14, 11, 'cat', True, 99, 99]

In [36]:
#Q9.
# + is an list concatenation operator 
l=[1,2,3] + [4,5,6]
print(l)
# * is an list replication operator
l=l*2
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

Q10.  
append() add value or data at the end of list and insert() add value at a given index position

In [39]:
#Q11.
# method to remove items from list are pop() and remove()
#pop() is used to remove item from a index position
list=[1,23,4]
list.pop(1)
print(list)

#remove() is used to remove item from list directly
list1=["ram","shyam"]
list1.remove("ram")
print(list1)

[1, 4]
['shyam']

Q12.  
List values and string values are identical in terms of indexing operation ,slicing opeartion , concatenation and repition

Q13.  
List can contain different type of data in it which can be modified using various function like indexing, append,remove,pop,etc..  wheras tuple can also contain different type of data but it can not  be modified

In [46]:
#Q14.
#we can type tuple with a single value with (value,), 
t=(42,)
print(t)
print(type(t))
#if we dont put comma then it will be considered as an integer
t=(42)
print(t)
print(type(t))

(42,)
<class 'tuple'>
42
<class 'int'>

In [1]:
#Q15.
#list values in tuple form
l= [1,2,3]
l =tuple(l)
print(l)
# tuple values in list form
t= (4,5,6)
t= list(t)
print(t)

(1, 2, 3)
[4, 5, 6]

In [3]:
#Q16.

Q17.  
The difference between copy.copy() and copy.deepcopy() is the different function call from copy module